<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="world"  default="cone_and_ladder"/>
  <arg name="gzpose" default="-x 0.0 -y 0.0 -z 0.0 -R 0.0 -P 0.0 -Y 0.0"/>
  <arg name="gzclient" default="true"/>
  <arg name="public_sim" default="true"/>
  <arg name="extra_gazebo_args" default=""/>
  <arg name="rviz" default="true"/>
  

	<param name="octomap_frame" type="string" value="map" />  <!-- not working -->

  <env name="GAZEBO_MODEL_PATH" value="$(find cleanup)/models" />
  <env name="GAZEBO_RESOURCE_PATH" value="$(find cleanup)/worlds"/>

  <include file="$(find cleanup)/launch/tiago_navigation.launch">
      <arg name="robot" value="steel"/>
      <arg name="world"      value="$(arg world)"/>
      <arg name="gzpose"     value="$(arg gzpose)"/>
      <arg name="gzclient"   value="$(arg gzclient)"/>
      <arg name="public_sim" value="$(arg public_sim)"/>
      <arg name="extra_gazebo_args" value="$(arg extra_gazebo_args)"/>
      <arg name="map" value="$(find cleanup)/maps/$(arg world)"/>
      <arg name="rviz" value="false"/>
  </include>

  <!-- Load definition of pregrasp motion into play_motion namespace -->
  <rosparam command="load" file="$(find tiago_pick_demo)/config/pick_motions.yaml" />


  <!-- Republish topics data -->
  <node pkg="topic_tools" type="relay" name="relay_scan" args="/scan_raw /scan" />
  <node pkg="topic_tools" type="relay" name="relay_rgbd_scan" args="/scan_raw /rgbd_scan" />
  <node pkg="topic_tools" type="throttle" name="throttle_rgbd_scan" args="messages /xtion/depth_registered/points 2 /throttle_filtering_points/filtered_points" />



<node name="rviz" pkg="rviz" type="rviz" if="$(arg rviz)" args="-d $(find cleanup)/config/rviz/cleanup_rviz.rviz"/>

<!-- <include file="$(find my_grasping)/launch/processing_node.launch"/> -->
  <include file="$(find pcd_proc)/launch/pcd_proc.launch"/> 
  <include file="$(find cleanup)/launch/haf_grasping.launch"/>
  <node name="yolo_server" pkg="yolo4" type="yolo_server.py" respawn="true" />


 <!-- <include file="$(find cleanup)/launch/octomap_mapping.launch"/> -->

  <!-- <node name="update_octomap_res" pkg="dynamic_reconfigure" type="dynparam"
          args="set_from_parameters /move_group/octomap_resolution">
        <param name="octomap_resolution" type="double" value="0.1"/>
    </node> -->


  <!-- <rosparam param="octomap_resolution" ns="move_group">0.02</rosparam>
  <rosparam param="max_range" ns="move_group">2.0</rosparam> -->

</launch>
